<<<<<<< HEAD
<script type="text/javascript" src="js/getavgtoday.js"></script>
<div class="average"></div>
=======
<script type="text/javascript" src="js/myaveragetoday.js"></script>
<div class="averagetoday">
  </div>
  
  
>>>>>>> master
