<script src="js/MyDeleteTemperatur.js"></script>
<h1><%= pageTitle %></h1>

<div class="Measurements">
        <p>Ban-circle icon on a styled link button:
                <a href="#" class="btn btn-info btn-lg">
                  <span class="glyphicon glyphicon-ban-circle"></span> delete
                </a>
              </p> 
</div>
