<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body id="<%= pageID %>">
    <div id="wrapper">
      <% include partials/template/navbar.ejs %>
      <div id="averageweek">
        <p>
          <% include partials/content/myaverageweek.ejs%>
        </p>
      </div>
    </div>
  </body>
</html>