<!DOCTYPE html>
<html>

<head>
  <% include partials/template/head.ejs %>
    <style>
      #tableright {
        float: right;
      }

      table {

        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 40%;
        padding: 5px;

      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
</head>

<body id="<%= pageID %>">
  <div id="wrapper">
    <% include partials/template/navbar.ejs %>
    <div class="container">
        <div class="row">
          <div class="col-sm" id="ourtemp">
            Current Temperature
            <h1>
                <% include partials/content/Compare.ejs%>
            </h1>
          </div>
          <div class="col-sm"id="apitemp">
            Api Temperature
            <h1>
                <% include partials/content/Compare.ejs%>
            </h1>
          </div>
        </div>
      </div>
  </div>
</body>

</html>