<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body id="<%= pageID %>">
    <div id="wrapper">
      <% include partials/template/navbar.ejs %>
      <% include partials/content/mytemprature.ejs %>
      <div class='Measurements'></div>
    </div>
  </body>
</html>