<html>
<head>
    <title>Coming soon</title>
    <link href="style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    
    <h1 style="background-color: tomato">Near you</h1>
    <p>Avengers Infinity Spoilers Ahead</p>

</body>
</html>