<html>
<<<<<<< HEAD
<head>
    <% include partiels/template/head.ejs %>
 </head>
 <body>
     <h1>
         "Noise Levels"
     </h1>  
    </body>
=======
<head> <% include partials/template/head.ejs%> </head>
<% include partials/template/navbar.ejs%>
<div class="Measurements">

</div>
>>>>>>> master
</html>