body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    font-size: 50px;
    text-align: center;
  }
  header{
    padding: 50px 10px; color: blueviolet; font-size: 15px; text-align:right;
  }
  
  p {
    margin-bottom: 20px; margin-left: 20px;
    font-family: verdana;
    font-size: 50px;
  }
  